.s2-content{
    height: 500px;
    display: grid;
    grid-template-columns: 5% 42.5% 5% 42.5% 5%;
}

.s2-content-left{
    grid-column-start:2;
}

.s2-content-right{
    grid-column-start:4;
    grid-column-end:5;
}
