*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    border: 0;
    font-size: 100%;
    line-height: 100%;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility
}

.App {
  background: #fff;
  text-align:left;
}

#site-wrapper{
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background: #fff;
}

.bigbox{
  min-height:500px;
  min-width:1000px;
}

.contentbox{
  margin:auto;
}

.content{
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
}

.content-left{
  grid-column-start:2;
}

.content-right{
  grid-column-start:3;
}


.lh25{
  line-height: 1.25;
}

.ztop{
  z-index: 10;
  max-width: 1440px;
}

#section-1{
  background:#cbd1d2;
  padding-top:80px;
}

#section-2{
  background:#fff;
}

#section-3{
  background:#404040;
}

#section-4{
  background:#cbd1d2;
}

#section-5{
  background:#404040;
}