.s5-content{
    display: grid;
    grid-template-columns: 5% 42.5% 5% 42.5% 5%;
}

.s5-content-left{
    grid-column-start:2;
}

.s5-content-right{
    grid-column-start:4;
    grid-column-end:5;
}

.s5-infocontent{
    padding-left:80px;
}
